<article
  class="min-w-[292px] max-w-[384px] rounded-[20px] border bg-white p-[24px] shadow-main"
>
  <img
    class="h-[200px] rounded-[10px] object-cover"
    src="card-hero.svg"
    height="200"
    alt=""
  />
  <div class="my-[24px] flex flex-col items-start justify-start gap-[12px]">
    <div
      class="rounded-[4px] bg-accent px-[12px] py-[4px] text-xs font-extrabold sm:text-sm"
    >
      Learning
    </div>
    <p class="text-xs font-medium sm:text-sm">
      <span>Published </span>
      <time datetime="2023-12-21">21 Dec 2023</time>
    </p>
    <h1 class="text-lg font-extrabold sm:text-xl">
      <a class="hocus-visible:text-accent" href="https://web.dev/learn"
        >HTML & CSS foundations</a
      >
    </h1>
    <p class="text-sm font-medium text-gray sm:text-base">
      These languages are the backbone of every website, defining structure,
      content, and presentation.
    </p>
  </div>
  <footer class="flex items-center gap-[12px]">
    <img src="avatar.webp" width="32" height="32" alt="" />
    <span class="text-sm font-extrabold">Greg Hooper</span>
  </footer>
</article>
